stages:
  - build
  - test
  - deploy
  - release
  - deploy_prod

include:
  - template: Jobs/SAST.gitlab-ci.yml
#  - template: Jobs/Secret-Detection.gitlab-ci.yml
#  - template: Jobs/Dependency-Scanning.gitlab-ci.yml
#  - template: Jobs/Code-Quality.gitlab-ci.yml

.mr_only:
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH

.deploy_template: &deploy_definition
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client rsync
    - eval $(ssh-agent -s)   # Start the agent
    - mkdir -p ~/.ssh; chmod 700 ~/.ssh
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa; chmod 600 ~/.ssh/id_rsa
    - ssh-add ~/.ssh/id_rsa
    - echo "$SSH_KNOWN_HOSTS" >> ~/.ssh/known_hosts; chmod 644 ~/.ssh/known_hosts

build: 
  stage: build
  image: maven:3.9.12-eclipse-temurin-17
  script: 
    - echo "Compiling code..."
    - mvn clean package -DskipTests
  artifacts: 
    paths:
      - target/*.jar 
    expire_in: 1 week

test:
  stage: test
  extends: .mr_only
  script:
    - mvn test 
  artifacts:
    reports:
      junit: target/surefire-reports/TEST-*.xml

deploy:
  <<: *deploy_definition
  stage: deploy
  variables: 
    SERVER_IP: 192.168.1.49
  script:
    - echo "Deploying to staging EC2 instance..."
    - scp target/*.jar ubuntu@$SERVER_IP:/srv/app/
    - ssh ubuntu@$SERVER_IP "sudo systemctl restart hello-world-app"
  environment:
    name: staging
    url: https://test.topcon-local.com
  only:
    - main

release:
  stage: release
  image: node:20-slim
  variables: 
    GL_TOKEN: $GITLAB_TOKEN
  before_script:
    - apt-get update && apt-get install -y git
    - npm install -g semantic-release @semantic-release/gitlab @semantic-release
  script:
    - echo "Semantic versioning definition..."
    - npx semantic-release
  only: 
    - main

deploy_prod:
  <<: *deploy_definition
  stage: deploy_prod
  variables: 
    SERVER_IP: 192.168.1.49
  script:
    - echo "Deploying to production EC2 instance..."
    - scp target/*.jar ubuntu@$SERVER_IP:/srv/app/
    - ssh ubuntu@$SERVER_IP "sudo systemctl restart hello-world-app"
  environment: 
    name: prod
    url: https://test.topcon.com
  when: manual
  only:
    - main
    - tags
